@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/**** GENERAL ****/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    margin: 0;
    padding: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

h2,
h3,
p,
div,
ul,
li,
figure,
img {
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

header,
main {
    max-width: 1200px;
    margin: auto;
}

header, figure, img{
    max-width: 100%;
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
nav,
button,
main a {
    font-family: 'Economica', 'Open Sans', sans-serif;
}

h1 {
    font-size: 3.5rem;
    text-align: center;
}

h2 {
    font-size: 4rem;
    color: #5f5f5fb3;
    width: 100%;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2.5rem;
    color: #7a7a7a;
}

/**** HEADER ****/

header figure {
    text-align: center;
}

nav {
    background-color: rgb(247, 19, 152);
}

nav ul {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    font-size: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
}

nav a {
    color: white;
}

nav ul li:hover {
    background-color: white;
}

nav ul a:hover {
    color: rgb(247, 19, 152);
}

@media screen and (min-width:800px) {
    nav ul {
        flex-direction: row;
    }
}

/**** SECTION A PROPOS ****/

.about-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 5rem;
}

.about-flex p {
    margin-bottom: 15px;
}

.about-flex div {
    padding-left: 3rem;
}

.about-flex li {
    line-height: 1.5;
}

.about-flex li::before {
    font-family: FontAwesome;
    content: "\f3a5  ";
    color: rgb(247, 19, 152);
    font-size: 1rem;
    padding-right: 6px;
}

.it-violet {
    color: rgb(247, 19, 152);
    font-style: italic;
}

@media screen and (min-width:800px) {

    .about-flex div,
    .about-flex figure {
        width: 50%;
    }
}

/**** SECTION CREATEURS ****/

.artist-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding-bottom: 5rem;
}

.artist-flex article {
    display: flex;
    padding-bottom: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.artist-flex article div {
    width: 80%;
}

.artist-flex article img {
    width: 100%;
    height: 200px;
    padding-right: 1rem;
}

.artist-flex p {
    padding-top: 0.5rem;
}

.lien-site {
    margin-top: 2rem;
}

.lien-site a {
    background-color: #ffffff;
    color: rgb(247, 19, 152);
    border: 2px solid rgb(247, 19, 152);
    text-transform: uppercase;
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.lien-site a:hover {
    color: white;
    background-color: rgb(247, 19, 152);
}

@media screen and (min-width:800px) {
    .artist-flex article {
        width: 48%;
    }

    .artist-flex article div {
        width: 80%;
    }

    .artist-flex article img {
        object-fit: cover;
    }
}

/**** SECTION VISITER ATELIER ****/

.visiter {
    padding-bottom: 5rem;
}

.visiter p {
    line-height: 1.5;
}

.tableau {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin: auto;
    margin-top: 2rem;
}

td,
th {
    border: 1px solid #c3c3c3;
    text-align: center;
    padding: 1rem 2.5rem;
    width: 18rem;
}

th {
    background-color: rgb(247, 19, 152);
    color: white;
}

.closed {
    background-color: rgba(253, 149, 210, 0.166);
}

/**** SECTION RESERVER ATELIER ****/

.reserver {
    padding-bottom: 5rem;
}

form {
    border: 1px solid rgb(247, 19, 152);
    padding: 2rem;
    margin-bottom: 3rem;
}

.select {
    background-color: #ffeefe;
    height: 4rem;
    padding: 3rem;
    display: flex;
    align-items: center;
}



button {
    background-color: rgb(247, 19, 152);
    color: white;
    margin-top: 2rem;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    text-transform: uppercase;
}

.book {
    text-align: center;
}

@media screen and (min-width:800px) {
    .select div {
        width: 48%;
    }

    .select input {
        width: 25rem;
    }

    .select select {
        width: 15rem;
    }
}

/**** FOOTER ****/

footer {
    background-color: black;
    color: white;
    text-align: center;
}

.logo-rs {
    background-color: rgb(247, 19, 152);
    font-size: 2rem;
    color: black;
}

.logo-rs a:visited {
    color: black;
}

.logo-rs a:hover {
    color: white;
}